body{
  width: 100%;
  background: linear-gradient(to bottom right, #24429E, lightblue);
  font-family: calibri;
}

#kader{
  width: 70%;
  height: 1200px;
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
  margin-top: -1400px;
  background-color: white;
  box-shadow: 0px 10px 10px black;
  z-index: 0;
}

.bollen {
  position: relative;
  z-index: -1;
}

.een {
  top: -280px;
  left: -100px;
  transform: rotate(-10deg);
  z-index: 1;
}

.twee {
  left: 500px;
  top: -850px;
  z-index: 1;
}

.drie {
  left: 1150px;
  top: -1300px;
}

/*
footer{
  width: 100%;
  height: 50px;
  background-color: black;
  overflow:auto;
    clear:both;
} */

/* NAVIGATIE */
#logo{
  width: 50%;
}

nav{
  background-color: #24429E;
  box-shadow: 0px 5px 5px black;
  padding: 15px;
  text-align: center;
}

a{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
  color: white;
  font-size: 1.1em;
  padding-right: 60px;
  padding-left: 60px;
  position: relative;
  z-index: 100;
}

a:hover{
  text-decoration: underline;
  text-shadow: 5px;
}

/* HOME */
.logohome{
  float:right;
  width: 4%;
  margin-top: -1.1%;
}

main{
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 50px;
}
h5{
  font-size: 1.9em;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 70px;
  font-weight: bold;
  color: #24429E;
}

h1{
  color: black;
  font-size: 1.5em;
}

.watis{
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 1.1em;
  line-height: 1.7em;
}

.teksthome{
  width: 55%;
  float:left;
  font-size: 1.1em;
  line-height: 1.7em;
  margin-right: 20px;
}
.fotoln{
  width: 40%;
  float:right;
  box-shadow: 0px 5px 5px;

}

/* ARTIESTEN */

#mainartiesten {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

#bennytitel{
  margin-top: 250px;
  margin-bottom: 25px;
  color: #24429E;
  float: right;
}

#aptitel{
  margin-top: 200px;
  margin-bottom: 20px;
  width: 200px;
  float: left;
}

#joosttitel{
  color: #24429E;
  margin-top: 150px;
  margin-bottom: 30px;
  float: right;
}

#rosannatitel{
  margin-top: 200px;
  margin-bottom: 30px;
  width: 250px;
  float: left;
}

h2{
  font-weight: bold;
  color: #E855A8;
  font-size: 1.8em;
  clear:both;
  /*border: 1px solid black;
  float:right;*/
}


.artiestfoto{
  margin-top: 100px;
  margin-bottom: 20px;
  width: 50%;
  border-radius: 50%;
}
.links{
  float: left;
  width: 45%;
  line-height: 1.5;
}

.rechts{
  width: 50%;
  float:right;
  line-height: 1.5;
  text-align: right;
}

#kaderartiesten{
    width: 70%;
    height: 2350px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -1400px;
    background-color: white;
    box-shadow: 0px 10px 10px black;

}

/* OVER ANKER */

.tekstover{
  width: 60%;
  margin-top: 30px;
  font-size: 1.2em;
  line-height: 1.4em;
  float: left;
}
#ankerlogo{
  width: 30%;
  float: right;
  margin-top: -120px;
}

/* WEBSHOP */

h4{
  font-size: 2em;
  margin-bottom: 40px;
  clear:both;
  text-align: center;
}

.geheel{
  clear: both;
}
.albumkader{
  float: left;
  width: 23%;
  height: 250px;
  margin-bottom: 100px;
  margin-top: 10px;
  margin-right: 2%;
  /*border: 1px solid black;*/
}

.laatste{
  margin-right: 0px;
}

.album{
  width: 100%;
  /*border: 1px solid black;*/
  float: left;
  margin-right: 5.55%;
  margin-bottom: 35px;
}


#kadermain{
  width: 70%;
  height: 3300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -1400px;
  background-color: white;
  box-shadow: 0px 10px 10px black;
}

button {
  width: 80%;
  margin-left: 10%;
	box-shadow: 0px 0px 0px 2px #9fb4f2;
	border-radius:13px;
	border:1px solid #4e6096;
	display:inline-block;
	color:#ffffff;
	font-size:1.2em;
	padding:10px 17px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
  background-color: #678BC1;
}

button:hover{
  /*font-size: 1.3em;*/
  background-color: blue;
  border-color: blue;
}


@media (max-width: 1270px){


  a{
    font-size: 1em;
    padding-right: 50px;
    padding-left: 50px;
  }

  .een {
    top: -280px;
    left: -120px;
  }

  .twee {
    left: 400px;
    top: -850px;
  }

  .drie {
    left: 900px;
    top: -1320px;
  }

  #kader{
    /*margin-top: -2000px;*/
}

@media (max-width: 1120px){


  a{
    font-size: 1em;
    padding-right: 40px;
    padding-left: 40px;
  }

  .albumkader{
    height: 300px;
    width: 48%;
    margin-bottom: 50px;

  }


  .een {
    top: -280px;
    left: -200px;
  }

  .twee {
    left: 450px;
    top: -850px;
  }

  .drie {
    left: 800px;
    top: -1320px;
  }

  #bennytitel{
    margin-top: 150px;
    margin-bottom: 25px;
  }

  #aptitel{
    margin-top: 130px;
    margin-bottom: 20px;
  }

  #joosttitel{
    margin-top: 80px;
    margin-bottom: 30px;
  }

  #rosannatitel{
    margin-top: 130px;
    margin-bottom: 30px;
  }
}

@media (max-width: 1000px){


  a{
    font-size: 0.9em;
    padding-right: 30px;
    padding-left: 30px;
  }

}

@media (max-width: 850px){


  #kader{
    width: 75%;
    height: 1400px;
  }

  a{
    padding-right: 20px;
    padding-left: 20px;
  }
}

@media (max-width: 750px){

  #bennytitel{
    margin-top: 50px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    float: none;
    width: 150px;
    text-align: center;
  }

  #aptitel{
    margin-top: 50px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    float: none;
  }

  #joosttitel{
    margin-top: 50px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    float: none;
  }

  #rosannatitel{
    margin-top: 50px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    float: none;
  }

  .artiestfoto{
    margin-top: 30px;
    margin-bottom: 20px;
    width: 100%;
    margin-left: 25%;
  }

  .foto{
    width: 66%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    align: center;
  }

  .links{
    float: none;
    text-align: center;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
  }

  .rechts{
    float: none;
    text-align: center;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
  }

  #kaderartiesten{
      height: 2500px;
}
